/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(237, 171, 39);
    }

    /* NAV*/
  .Nav{
      position: fixed;
      z-index: 1;
  }
 
  
  .Nav summary{
      color: rgb(31, 46, 253);
      font-size: 2em;
      font-family: 'Ysabeau SC', sans-serif;
  }
  .Nav summary:hover{
      color: rgb(255, 250, 250);
  }
  .Nav a:hover{
    background-color: rgb(34, 34, 240);
    color: white;
  }
  }

  .Nav details a{
    font-family: 'Ysabeau SC', sans-serif;
  }
  

  
  .Nav a{
      position: relative;
      background-color: rgba(25, 238, 36, 0.598);
      text-align: center;
      padding: 10px;
      margin-top: 5px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      color: white;
      font-size: 1.2em;
  }
  

  
  
  /* TOP*/
    .top-info{
      position: relative;
      margin-bottom: 500px;    
      top: 50px;


  }

  .heading{
    color: rgb(41, 90, 238);
    position: absolute;
    top: 0;
    margin-left: 50px;
    margin-top: -20px;
    font-size: 2.5em;
    transform: rotate(10deg);
    text-shadow: -1px -1px 1px rgb(246, 246, 246);
    font-family: 'Rock Salt', cursive;
}

  .background{
    height: 70%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute
  }

  
  .img-logo img{
      height: auto;
      width: 100%;
      position: relative;
      top: 90px;
  }
  
  /* Second */
  
  .Service-sec{
      position: relative;
      top: 100px;
  }
  .img2 img{
      height: auto;
      width: 100%;
      position: absolute;
      z-index: -1;
  }
  
  .Serive-heading{
      position: relative;
      text-align: center;
      font-size: 2em;
      z-index: 1;
      color: rgb(6, 71, 234);
      text-shadow: 1px -2px 1px rgb(255, 255, 255);
      font-family: 'Young Serif', serif;

    }
  .list-service{
  position: relative;
  top: 120px;
  z-index: 1;
  }
  .list-service ol li{
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.142);
      font-size: 1.5em;
      padding: 10px;
      margin-top: 6px;
      text-shadow: 2px 3px 1px blue;
      color: rgb(252, 252, 255);
      font-family: 'Ysabeau SC', sans-serif;

      
  }
  
  
  /* MIDDLE */
  
  .Location-sec{
      position: relative;
      top: 400px;
      margin-bottom: 200px;
  }
  
  
  .img3 img{
      height: auto;
      width: 100%;
      position: absolute;
      z-index: -1;
      top: 80px;
  }
  
  .Location-heading{
      display: flex;
      justify-content: center;
      font-size: 2em;
      position: relative;
      color: rgb(6, 71, 234);
      text-shadow: 1px 2px 1px rgb(255, 255, 255);
      font-family: 'Young Serif', serif;


  }
  
  .loc-cap{
    position: relative;
    top: 3em;
    }
  
  .loc-cap ol li{
      display: flex;
      justify-content: center;
      text-shadow: 2px -1px 1px blue;
      color: rgb(252, 252, 255);      
       padding: 10px;
      margin-top: 6px;
      background-color: rgba(0, 0, 0, 0.142);
      list-style-type: none;
      font-size: 1.5em;
      font-family: 'Ysabeau SC', sans-serif;
      }
  
  
  
  
  
  
  /* BOTTOM */
  
  .Contact-sec{
      position: relative;
      top: 500px;
      height: 360px;
      z-index: 0;
      margin-bottom: 600px;
  }
  
  .img4 img{
      height: auto;
      width: 100%;
      position: absolute;
      z-index: -1;
  }
  
  .Contact-heading{
      font-size: 2em;
      display: flex;
      justify-content: left;
      z-index: 1;
      padding-left: 0.2em;
      position: relative;
      color: rgb(6, 71, 234);
      text-shadow: 1px 2px 1px rgb(255, 255, 255);
      font-family: 'Young Serif', serif;


  }
.Contact-list{
text-align: center;
font-size: 140%;
position: relative;
top:1em;

}

.Contact-list a{
    position: relative;
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    background-color: rgba(0, 32, 243, 0.516);
    font-family: 'Ysabeau SC', sans-serif;
    
}
  
  .Contact-sec a:hover{
      color: orange;
      border: 1px solid blue;
      background-color: rgba(0, 32, 243, 0.703);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    body {
        background-color: white;
  }

/* NAV */
.Nav{
    position: fixed;
    z-index: 1;
}


.Nav summary{
    color: rgb(0, 55, 255);
    font-size: 2.5em;
}
.Nav summary:hover{
    color: rgb(237, 48, 48);
}



.Nav a{
    position: relative;
    background-color: rgb(25, 71, 238);
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.2em;
}

.Nav  a:hover{
    color: red;

}

/* TOP logo*/
  .top-info{
    display: flex;
    justify-content: center;
    position: relative;
    top: -1px;
    margin-bottom: 300px;
  }

  .img-logo img{
    height: auto;
    width: 80%;
    position: relative;
    top: 0;
    margin-left: 50px;
  }



/* Service */

.Service-sec{
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 650px;
}

.Serive-heading h2{
    position: absolute;
    color: rgb(231, 152, 6);
    left: 0;
    top: 0;
    margin-left: 2em;
    margin-top: -0.5em;
    font-size: 2em;
}

.list-service{
    position: relative;
    top: 30px;
    font-size: 1.5em;
}
.list-service ol li{
    list-style-type: none;
    text-align: center;
    border: 1px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.075);
    

}

#sub-color-service{
    color: orange;
}


.img2 img{
    height: auto;
    width: 100%;
    position: absolute;
    margin-left:200px;
    top: -20px;
}

/* MIDDLE */
.img3  img{
    position: absolute;

}

.Location-heading h2{
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: rgb(231, 152, 6);

}

.loc-cap ol li{
    text-align: center;
    position: relative;
    z-index: -1;
    display: inline;
    padding: 20px;
    top: 170px;
    margin-left: 1px;
  color: rgb(0, 26, 255);  
  border: 1px solid blue;
  border-top: none;
  background-color: rgba(128, 128, 128, 0.194);
}

.loc-cap li{
    font-size: 1.5em;
}

/* BOTTOM */
.img4 img{
    position: absolute;
    height: auto;
    width: 70%;
    right: 0;
    z-index: 0;
}

.Contact-heading h2{
    display: flex;
position: relative;
left: 3em;
color: rgb(231, 152, 6);

}

.Contact-list{
    position: absolute;
    left: 70px;
}

.Contact-list a{
    background-color: white;
    color: blue;
    border: none;
    font-size: 1.1em;
}

.Contact-list a:hover{
    background-color: white;
}







}

  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

  }
 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

} 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body {
      display: none;
  }
}
