/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
body{
  background-color: #222831;
}

.backimg{
  position: absolute;
  top: 250px;
  left: 0;
  max-width: 100%;
  height: auto;

  filter: drop-shadow( 16px 1px 100px rgb(255, 166, 0));
}
.title-1{
  position: relative;
  top: 130px;
  margin-left: -140px;
  transform: skew(-7deg, 10deg);
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: orange;
  font-size: 18vw;
  filter: drop-shadow(1px 1px 1px black)
}
.title-2{
  position: relative;
  top: 130px;
  margin-right: -120px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 18vw;
  color: orange;
  transform: skew(1deg, -10deg);
  filter: drop-shadow(1px 1px 1px black)

}

.title-3{
  position: relative;
  top: 450px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 20vw;
  color: orange;
  filter: drop-shadow( 6px 5px 20px white);



}




/* NAVIATION BAR */
.topNav{
  background-color: rgba(0, 0, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.topNav #Links{
  display: none;

}

#Links a{
  text-align: right;
  position: relative;
  top: 30px;
  display: flex;
  margin: -10px;
  justify-content: space-between;
  display: inline;
  padding: 30px;
  font-size: 1.5em;
}


.topNav a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 6vw;
  display: block;

}

.topNav a.icon{
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
}

.topNav a:hover{
  background-color: rgba(0, 0, 255, 0);
  color: orange;
}
.active{
  background-color: rgba(255, 192, 203, 0);

}

/* NAV LOGO */
.img-truck {
  height: 8vw;
  position: absolute;
 }





/* HOME */

.home-background-img img{
  height: auto;
  max-width: 100%;
}









/* SERVICE */

.Service-Section{
  position: relative;
  top: 50px;

}
.Service-Section .Header1 {
  position: relative;
  font-size: 10vw;
  text-align: center;
  top: 20px;
  color: #ffa500;
  filter: drop-shadow(16px 7px 30px white);
}
.Service-Section .list-service{
  color: #f2f2f2;
  position: relative;
  top:200px;
  text-align: center;
  font-size: 7vw;
  word-spacing: 10px;
letter-spacing: 4px;
margin-left: 3em;
box-shadow: 2px 2px 20px white;
}

.Service-Section .s:nth-child(2){
  position: relative;
  margin-left: 37px;
}

.Service-Section .img1{
  position: fixed;
  height: auto;
  width: 100%;
  top: 120px;
  z-index: -1;
  filter: drop-shadow( 16px 1px 100px rgb(255, 166, 0));

}

.list-service .x{
  color: orange;
}





/* LOCATION */


.Location-Section .Header2{


  position: relative;
  font-size: 10vw;
  text-align: center;
  top: 70px;
  color: orange;
  filter: drop-shadow(10px 8px 30px rgb(241, 241, 241));
}

.Location-Section .Location-list{
  color: #f2f2f2;
  position: relative;
  top: 43px;
  text-align: center;
  font-size: 1.3em;
  word-spacing: 10px;
letter-spacing: 4px;
padding: 20px;
box-shadow: 2px 2px 20px white;
}

.Location-list .x{
  color: orange;
}

.Location-Section .img2{
  position: fixed;
  height: auto;
  width: 100%;
  bottom: -70px;
  z-index: -1;
  margin-bottom: -20px;
  filter: drop-shadow( 16px 1px 100px rgb(255, 166, 0));

}





/* CONTACT */
.Contact-Section{
  position: relative;
  margin-top: 200px;
  margin-bottom: 100px;

}

.Header3, .Contact-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Header3{
  font-size: 6vw;
}








}




  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
   




}















  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {


  }
 











  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
  


























  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }



